@font-face {
    font-family: knewave;
    src: url("../../../public/fonts/Knewave-Regular.ttf");
}

@font-face {
    font-family: rubik;
    src: url("../../../public/fonts/Rubik-VariableFont_wght.ttf");
}

