@mixin flex-content($jc: center, $ai : center, $fd : row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin absolute-center(){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}