@use "../styles/mixins.scss" as mixins;
@use "../styles/fonts.scss";

.player {
  font-family: rubik, sans-serif;
  font-size: 22px;
  @include mixins.flex-content(space-between);
  padding: 0 40px 0 14px;
  background-color: rgba(102, 88, 68, 0.733);
  height: 80px;
  width: 330px;
  border-radius: 65px 0 0 65px;

  > img {
    height: 52px;
    padding: 14px;
    background-color: wheat;
    border-radius: 50%;
  }
}

.active-player {
  font-family: rubik, sans-serif;
  font-size: 22px;
  @include mixins.flex-content(space-between);
  padding: 0 40px 0 14px;
  background-color: rgb(252, 167, 40);
  height: 100px;
  width: 330px;
  border-radius: 65px 0 0 65px;

  > img {
    height: 80px;
    padding: 14px;
    background-color: wheat;
    border-radius: 50%;
  }
}
