@use "../styles/mixins.scss" as mixins;
@use "../styles/fonts.scss";

.start-screen {
  font-family: knewave, sans-serif;
  background-color: rgb(66, 66, 66);
  background-image: url("../../../public/img/backgrounds/wood-1716643_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
  width: 100dvw;
  height: 100dvh;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  @include mixins.flex-content(space-between, center, column);

        @media (max-height: 800px) {
        padding: 20px;
      }

        @media (max-height: 500px) {
        > div:nth-child(1) {
          display: none;
        }
      }

  > div {
    width: 100%;
    @include mixins.flex-content(space-between, center);

    @media (max-width: 750px) {
      justify-content: center;
    }

    > img {
      width: 160px;

      @media (max-width: 900px) {
        width: 20%;
      }

      @media (max-width: 750px) {
        display: none;
      }
    }
  }

  > div:nth-child(2) {
    outline: solid 4px #ff0000;
    border: solid 4px black;
    box-shadow: 0 0 0 4px #ff0000 inset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    @include mixins.flex-content(center, center, column);
    background-color: #fcfde7;
    width: auto;
    padding: 20px;
    border-radius: 12px;

    &:hover {
      cursor: pointer;
    }

    &:hover .play-wrapper {
      filter: brightness(120%);
    }

      @media (max-height: 500px) {
    position: absolute;
    top: 160px;
  }
  }
}

h1 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;

  @media (max-height: 800px) {
    font-size: 30px;
  }
  @media (max-width: 350px) {
    font-size: 30px;
  }
}

span {
  font-size: 18px;
}

.play-wrapper {
  position: relative;
  @include mixins.flex-content();

  > span {
    font-size: 24px;
    @include mixins.absolute-center();
  }

  > img {
    width: 300px;

    @media (max-width: 350px) {
      width: 250px;
    }
  }
}

.active-players {
  position: relative;
  width: 200px;
  background-color: #fcfde7;
  padding: 8px;
  align-self: flex-start;
  border-radius: 12px;
  font-size: 20px;
  text-align: center;

        @media (max-height: 800px) {
        display: none;
      }

  > .single-player {
    font-size: 20px;
  }
}

.add-button {
  background-color: #ffdbdb;
  color: black;
}

input {
  outline: none;
  width: 100%;
  font-size: 18px;
  height: 40px;
  padding: 5px 20px;
  border: none;
  background-color: #ffdbdb;
  font-family: knewave, sans-serif;
  border-radius: 12px;
}

.hidden {
  display: none;
}

.height-0 {
  height: 0;
  transition: all 300ms ease-in-out;
}

.add-player {
  transition: all 300ms ease-in-out;
}

.add-wrapper {
  @include mixins.flex-content(center, center, column);
  align-self: flex-end;
}

.single-player {
  text-align: start;
}

.width {
  width: 300px;
}

.show {
  display: block;

      @media (max-height: 500px) {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
      }
}