.game-field {
//   position: relative;
  width: 100dvw;
  height: 100dvh;
  max-width: 100%;
  max-height: 100%;
  background-color: rgb(66, 66, 66);
  background-image: url("../../../public/img/backgrounds/wood-1716643_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-70%, -60%);
    width: 300px;
    height: 500px;

    > img {
      width: 120px;
      position: absolute;
    }
  }
}

.last-card {
  transition: all 160ms ease-in-out;
  right: 25px;
  bottom: 25px;

  &:hover {
    right: 42px;
    transform: scale(1.05);
  }
}

.pick-card {
  right: 25px;
  bottom: 25px;
  animation: all 1250ms ease-in-out forwards;
  animation-name: pick-card-animation;
}

@keyframes pick-card-animation{
0%{transform: scale(1);}

40%{transform: scale(1.7);}

60%{transform: scale(1.7);}

100%{transform: scale(1) translate(50px, -300px) rotate(20deg);}
}

.played-card {
      right: 25px;
  bottom: 25px;
  z-index: -100;
}

.player {
    position: absolute;
    right: 0;
}