<section  class="game-field">
    <div>

    @for (card of [0,1,2,3,4]; track card; let i = $index){
        <img [ngStyle]="{'right.px' : i * 5, 'bottom.px' : i * 5}" src="img/cards/card_cover.png" alt="card cover">
    }
    
  
        <img (click)="takeCard(); calculatePlayedCardPos()" class="last-card" src="img/cards/card_cover.png" alt="card cover">
      @if (cardTaken){
    <img class="pick-card" src="img/cards/{{ currentCard }}.png" alt="card cover">
    }

    <!-- @if (game.playedCards.length > 0) { -->
    @for (card of game.playedCards; track card.id; let i = $index) {
        <img class="played-card" src="img/cards/{{ card.name }}.png" [ngStyle]="{'transform' : card.transform}">
    }
<!-- } -->
    </div>
</section>